<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <!--<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>-->
    <!--<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>-->
    <!--<property name="hibernate.connection.username">postgres</property>-->
    <!--<property name="hibernate.connection.password">postgres</property>-->
    <!--<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/market</property>-->

    <!--<property name="connection_pool_size">1</property>-->
    <!--&lt;!&ndash;<property name="hbm2ddl.auto">create</property>&ndash;&gt;-->
    <!--<property name="show_sql">true</property>-->

    <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.connection.url">jdbc:hsqldb:mem:testdb</property>
    <property name="connection.pool_size">1</property>
    <!--<property name="hibernate.hbm2ddl.import_files">import.sql</property>-->
    <property name="hibernate.hbm2ddl.auto">create</property>

    <mapping class="com.gwt.internetMarket.shared.CategoryDao"/>
    <mapping class="com.gwt.internetMarket.shared.ManufactureDao"/>
    <mapping class="com.gwt.internetMarket.shared.GoodDao"/>

  </session-factory>
</hibernate-configuration>